// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
    background-color: #eee;
    height: $header-height;
}

main {
    min-height: calc(100vh - #{$header-height} - #{$footer-height} - 1px);
}

footer {
    padding-top: 10px;
    background-color: #ddd;
    height: $footer-height;
}

.timesheet {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: 30px auto;
}

.timesheet > div:not(:nth-child(7n+7)) {
    border-right: 1px solid #999;
}

.timesheet > div {
    border-bottom: 1px solid #999;
}

.timesheet > div:nth-child(-n+7) {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: #999;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 2px;
}

.day-item-today {
    background-color: #999;
    border-radius: 50%;
    padding: 5px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cdd3fe;
    width: 350px;
    height: 100vh;
    padding: 20px;
    overflow: auto;
    border: 1px solid #dddd88;
}

aside::-webkit-scrollbar {
    width: 20px;
}

aside::-webkit-scrollbar-track {
    background-color: transparent;
}

aside::-webkit-scrollbar-thumb {
    background-color: #8693f7;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

aside::-webkit-scrollbar-thumb:hover {
    background-color: #5a6cfa;
}