// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
    background-color: #eee;
    height: $header-height;
}

main {
    background-color: #ccc;
    height: calc(100vh - #{$header-height} - #{$footer-height});
}

footer {
    padding-top: 10px;
    background-color: #ddd;
    height: $footer-height;
}